.trend-description {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px 0;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.generate-text-button {
  margin-top: 10px;
  padding: 8px 16px;
  border: solid;
  border-radius: 100px;
  background-color: #f5f5f5;
  color: #d0d0d0;
  width: 30%;
  align-self: center;
}
